* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    color: #073868;
}

header nav {
    max-width: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

nav button {
    background-color: #2e8b57;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero {
    width: 100%;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

#hero-title {
    font-size: clamp(1.5rem, 4vw, 4rem);
}

.hero span {
    color: #2e8b57;
}

#small-title {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(101, 101, 101);
}

.container {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    /* display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

.card {
    width: 100%;
    max-width: 280px;
    height: auto;
    background-color: rgba(237, 237, 237, 0.542);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    border-radius: 20px;
}

#weight {
    color: orange;
}

#hair {
    color: brown;
}

#breath {
    color: purple;
}

#feeling {
    color: cadetblue;
}

#anxiety {
    color: green;
}

#skin {
    color: lightcoral;
}

.card img {
    mix-blend-mode: multiply;
    width: 100%;
    max-width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0A2540;
    margin-top: 10px;
}

footer .footer-text {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    font-size: clamp(14px, 2vw, 2rem);
    font-weight: 400;
    color: #e7e6e6;
}

/* Responsive for all devices */

@media (min-width: 480px) {
    .hero {
        margin: 0 auto;
    }
    #hero-title {
        font-size: 1rem;
    }
    .footer-text {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .hero {
        margin: 0 auto;
        text-align: center;
    }
    #hero-title {
        font-size: 3rem;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}